<div class="container mt-4">
  <h2>User Form</h2>

  <form #myForm="ngForm">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">First name</label>
        <input
          name="firstName"
          type="text"
          class="form-control"
          placeholder="First name"
          [(ngModel)]="userObj.firstName"
          #firstName="ngModel"
          required
        />
        <small
          class="text-danger"
          *ngIf="
            firstName.errors?.['required'] &&
            (firstName.touched || firstName.dirty)
          "
          >This is required</small
        >
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Last name</label>
        <input
          name="lastName"
          type="text"
          class="form-control"
          placeholder="Last name"
          [(ngModel)]="userObj.lastName"
          #lastName="ngModel"
          minlength="4"
          required
        />
        <div>
          <small
            class="text-danger"
            *ngIf="lastName.errors?.['required'] && lastName.touched"
            >This is required</small
          >
          <small
            class="text-danger"
            *ngIf="lastName.errors?.['minlength'] && lastName.touched"
            >Min 4 character required</small
          >
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Username</label>
      <div class="input-group">
        <span class="input-group-text">&#64;</span>
        <input
          name="userName"
          type="text"
          class="form-control"
          placeholder="Username"
          [(ngModel)]="userObj.userName"
        />
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">City</label>
      <input
        name="city"
        type="text"
        class="form-control"
        placeholder="City"
        [(ngModel)]="userObj.city"
      />
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">State</label>
        <select name="state" class="form-select" [(ngModel)]="userObj.state">
          <option selected value="">Choose...</option>
          <option value="Goa">Goa</option>
          <option value="Maharashtra">Maharashtra</option>
          <option value="Punjab">Punjab</option>
          <option value="Karnataka">Karnataka</option>
        </select>
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Zip</label>
        <input
          name="zipCode"
          type="text"
          class="form-control"
          placeholder="Zip code"
          [(ngModel)]="userObj.zipCode"
        />
      </div>
    </div>

    <div class="form-check mb-3">
      <input
        name="isTermsAgree"
        class="form-check-input"
        type="checkbox"
        [(ngModel)]="userObj.isTermsAgree"
      />
      <label class="form-check-label"> Agree to terms and conditions </label>
    </div>

    <button
      class="btn btn-primary"
      type="button"
      (click)="onSave()"
      [disabled]="myForm.invalid"
    >
      Submit form
    </button>
  </form>
</div>
