<div class="container mt-4">
  <form [formGroup]="userForm" (ngSubmit)="onUserSave()">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">First name</label>
        <input
          name="firstName"
          type="text"
          class="form-control"
          placeholder="First name"
          formControlName="firstName"
        />
        <small
          class="text-danger"
          *ngIf="
            userForm.controls['firstName'].errors?.['required'] &&
            userForm.controls['firstName'].touched
          "
          >This is Required</small
        >
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Last name</label>
        <input
          name="lastname"
          type="text"
          class="form-control"
          placeholder="Last name"
          formControlName="lastName"
        />
        <small
          class="text-danger"
          *ngIf="userForm.controls['lastName'].errors?.['required']"
          >This is required</small
        >
        <small
          class="text-danger"
          *ngIf="
            userForm.controls['lastName'].errors?.['minlength'] &&
            userForm.controls['lastName'].touched
          "
          >Min 5 char needed</small
        >
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Username</label>
      <div class="input-group">
        <span class="input-group-text">&#64;</span>
        <input
          name="userName"
          type="text"
          class="form-control"
          placeholder="Username"
          formControlName="userName"
        />
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">City</label>
      <input
        name="city"
        type="text"
        class="form-control"
        placeholder="City"
        formControlName="city"
      />
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">State</label>
        <select name="state" class="form-select" formControlName="state">
          <option selected>Choose...</option>
          <option>Goa</option>
          <option>Maharashtra</option>
          <option>Punjab</option>
        </select>
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Zip</label>
        <input
          name="zip"
          type="text"
          class="form-control"
          placeholder="Zip code"
          formControlName="zip"
        />
      </div>
    </div>

    <div class="form-check mb-3">
      <input
        name="isTermsAgree"
        class="form-check-input"
        type="checkbox"
        formControlName="isAgree"
      />
      <label class="form-check-label"> Agree to terms and conditions </label>
    </div>
    <p>{{ userForm.status }}</p>
    <p>{{ userForm.valid }}</p>
    <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">
      Submit form
    </button>
  </form>
</div>

<hr />

<form [formGroup]="userFormArray">
  <div formArrayName="skills">
    <div *ngFor="let skill of skills.controls; let i = index">
      <input [formControlName]="i" />
      <button type="button" (click)="RemoveSkill(i)">Remoce Skill</button>
    </div>
  </div>

  <button (click)="addSkill()">Add Skill</button>
</form>
